{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "babelOptions": {
      "configFile": ""
    }
  },

  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "prettier",
    "plugin:react/recommended"
  ],
  "plugins": ["import", "node", "promise", "react", "react-hooks"],
  "rules": {
    "indent": "off",
    "react/jsx-uses-vars": "error",
    "no-unsafe-negation": "error",
    "camelcase": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": 0,
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  }
}
